.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #FB8C00;
}
.row{
    display: flex;
    margin-top: 0%;
    height: 900px;
}
.column-1{
    background-color: #FB8C00;
    height: 100%;
    width: 20%;
    padding-right: 30px;
}
.column-1 >ul{
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
}
.column-1 >ul> li{
    font-size: 20px;
    margin-top: 50px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
li>a{
    color: black;
    text-decoration: none;
}
.column-2{
    margin-top: 10px;
    margin-left: 10px;
    height: 100%;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.column-main>h2{
    text-align: center;
    text-decoration: underline;
}